spring:
  profiles:
    active: dev, secret
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${google.auth.REDIRECT_URI}
            scope:
              - email
              - profile
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${smtp.username}
    password: ${smtp.password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8880
  servlet:
    encoding:
      force-response: true

logging:
  level:
    com.example.pro.controller: warn

jwt:
  ACCESS_TOKEN_EXPIRED: 1440
  REFRESH_TOKEN_EXPIRED: 30240